<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/><arg name="use_sim_time" value="true"/><arg name="gui" value="true"/>
  </include>
  <group ns="tb3_1"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s1" args="-urdf -model tb3_1 -x -24.52 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_2"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s2" args="-urdf -model tb3_2 -x -24.04 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_3"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s3" args="-urdf -model tb3_3 -x -23.56 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_4"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s4" args="-urdf -model tb3_4 -x -23.08 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_5"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s5" args="-urdf -model tb3_5 -x -22.60 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_6"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s6" args="-urdf -model tb3_6 -x -22.12 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_7"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s7" args="-urdf -model tb3_7 -x -21.64 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_8"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s8" args="-urdf -model tb3_8 -x -21.16 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_9"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s9" args="-urdf -model tb3_9 -x -20.68 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_10"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s10" args="-urdf -model tb3_10 -x -20.20 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_11"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s11" args="-urdf -model tb3_11 -x -19.72 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_12"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s12" args="-urdf -model tb3_12 -x -19.24 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_13"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s13" args="-urdf -model tb3_13 -x -18.76 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_14"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s14" args="-urdf -model tb3_14 -x -18.28 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_15"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s15" args="-urdf -model tb3_15 -x -17.80 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_16"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s16" args="-urdf -model tb3_16 -x -17.32 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_17"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s17" args="-urdf -model tb3_17 -x -16.84 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_18"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s18" args="-urdf -model tb3_18 -x -16.36 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_19"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s19" args="-urdf -model tb3_19 -x -15.88 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_20"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s20" args="-urdf -model tb3_20 -x -15.40 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_21"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s21" args="-urdf -model tb3_21 -x -14.92 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_22"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s22" args="-urdf -model tb3_22 -x -14.44 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_23"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s23" args="-urdf -model tb3_23 -x -13.96 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_24"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s24" args="-urdf -model tb3_24 -x -13.48 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_25"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s25" args="-urdf -model tb3_25 -x -13.00 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_26"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s26" args="-urdf -model tb3_26 -x -12.52 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_27"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s27" args="-urdf -model tb3_27 -x -12.04 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_28"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s28" args="-urdf -model tb3_28 -x -11.56 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_29"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s29" args="-urdf -model tb3_29 -x -11.08 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_30"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s30" args="-urdf -model tb3_30 -x -10.60 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_31"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s31" args="-urdf -model tb3_31 -x -10.12 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_32"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s32" args="-urdf -model tb3_32 -x -9.64 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_33"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s33" args="-urdf -model tb3_33 -x -9.16 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_34"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s34" args="-urdf -model tb3_34 -x -8.68 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_35"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s35" args="-urdf -model tb3_35 -x -8.20 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_36"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s36" args="-urdf -model tb3_36 -x -7.72 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_37"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s37" args="-urdf -model tb3_37 -x -7.24 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_38"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s38" args="-urdf -model tb3_38 -x -6.76 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_39"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s39" args="-urdf -model tb3_39 -x -6.28 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_40"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s40" args="-urdf -model tb3_40 -x -5.80 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_41"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s41" args="-urdf -model tb3_41 -x -5.32 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_42"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s42" args="-urdf -model tb3_42 -x -4.84 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_43"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s43" args="-urdf -model tb3_43 -x -4.36 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_44"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s44" args="-urdf -model tb3_44 -x -3.88 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_45"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s45" args="-urdf -model tb3_45 -x -3.40 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_46"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s46" args="-urdf -model tb3_46 -x -2.92 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_47"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s47" args="-urdf -model tb3_47 -x -2.44 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_48"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s48" args="-urdf -model tb3_48 -x -1.96 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_49"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s49" args="-urdf -model tb3_49 -x -1.48 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_50"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s50" args="-urdf -model tb3_50 -x -1.00 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_51"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s51" args="-urdf -model tb3_51 -x -0.52 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_52"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s52" args="-urdf -model tb3_52 -x -0.04 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_53"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s53" args="-urdf -model tb3_53 -x 0.44 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_54"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s54" args="-urdf -model tb3_54 -x 0.92 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_55"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s55" args="-urdf -model tb3_55 -x 1.40 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_56"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s56" args="-urdf -model tb3_56 -x 1.88 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_57"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s57" args="-urdf -model tb3_57 -x 2.36 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_58"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s58" args="-urdf -model tb3_58 -x 2.84 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_59"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s59" args="-urdf -model tb3_59 -x 3.32 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_60"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s60" args="-urdf -model tb3_60 -x 3.80 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_61"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s61" args="-urdf -model tb3_61 -x 4.28 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_62"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s62" args="-urdf -model tb3_62 -x 4.76 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_63"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s63" args="-urdf -model tb3_63 -x 5.24 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_64"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s64" args="-urdf -model tb3_64 -x 5.72 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_65"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s65" args="-urdf -model tb3_65 -x 6.20 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_66"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s66" args="-urdf -model tb3_66 -x 6.68 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_67"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s67" args="-urdf -model tb3_67 -x 7.16 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_68"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s68" args="-urdf -model tb3_68 -x 7.64 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_69"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s69" args="-urdf -model tb3_69 -x 8.12 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_70"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s70" args="-urdf -model tb3_70 -x 8.60 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_71"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s71" args="-urdf -model tb3_71 -x 9.08 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_72"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s72" args="-urdf -model tb3_72 -x 9.56 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_73"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s73" args="-urdf -model tb3_73 -x 10.04 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_74"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s74" args="-urdf -model tb3_74 -x 10.52 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_75"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s75" args="-urdf -model tb3_75 -x 11.00 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_76"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s76" args="-urdf -model tb3_76 -x 11.48 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_77"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s77" args="-urdf -model tb3_77 -x 11.96 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_78"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s78" args="-urdf -model tb3_78 -x 12.44 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_79"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s79" args="-urdf -model tb3_79 -x 12.92 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_80"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s80" args="-urdf -model tb3_80 -x 13.40 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_81"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s81" args="-urdf -model tb3_81 -x 13.88 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_82"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s82" args="-urdf -model tb3_82 -x 14.36 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_83"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s83" args="-urdf -model tb3_83 -x 14.84 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_84"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s84" args="-urdf -model tb3_84 -x 15.32 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_85"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s85" args="-urdf -model tb3_85 -x 15.80 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_86"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s86" args="-urdf -model tb3_86 -x 16.28 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_87"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s87" args="-urdf -model tb3_87 -x 16.76 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_88"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s88" args="-urdf -model tb3_88 -x 17.24 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_89"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s89" args="-urdf -model tb3_89 -x 17.72 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_90"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s90" args="-urdf -model tb3_90 -x 18.20 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_91"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s91" args="-urdf -model tb3_91 -x 18.68 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_92"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s92" args="-urdf -model tb3_92 -x 19.16 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_93"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s93" args="-urdf -model tb3_93 -x 19.64 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_94"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s94" args="-urdf -model tb3_94 -x 20.12 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_95"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s95" args="-urdf -model tb3_95 -x 20.60 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_96"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s96" args="-urdf -model tb3_96 -x 21.08 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_97"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s97" args="-urdf -model tb3_97 -x 21.56 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_98"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s98" args="-urdf -model tb3_98 -x 22.04 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_99"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s99" args="-urdf -model tb3_99 -x 22.52 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_100"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s100" args="-urdf -model tb3_100 -x 23.00 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_101"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s101" args="-urdf -model tb3_101 -x 23.48 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_102"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s102" args="-urdf -model tb3_102 -x 23.96 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_103"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s103" args="-urdf -model tb3_103 -x 24.44 -y -10.0 -z 0.05 -param robot_description" /></group>
  <group ns="tb3_104"><param name="robot_description" command="$(find xacro)/xacro $(find hw2_U205)/urdf/turtlebot3_burger_no_lidar.urdf.xacro" /><node pkg="gazebo_ros" type="spawn_model" name="s104" args="-urdf -model tb3_104 -x 24.92 -y -10.0 -z 0.05 -param robot_description" /></group>
</launch>